.greeting-container{
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.from-text{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.diwali-lamp{
    height: 50px;
    position: absolute;
    top: 10px;
}
.left-lamp{
    left: 10px;
}
.right-lamp{
    right: 10px;
}
.normal-lamp{
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

@media screen and (max-width: 768px) {
    .greeting-container{
        width: 80%;
    }
}